@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Permanent+Marker&family=Teko:wght@600&display=swap');

html {
    background-color: #008080; 
}

body {
    background-color: #008080;
    /* background-color: 'red'; */
}

.header {
    background-color:#008080;
    text-align: center;
    /* background-color: 'red'; */
}

.my-name {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 48px; 
}

.site-title {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
}

.container {
    max-width: 100%;
}

.mobile-apps-container {
    background-color: #E4FFFF;
    font-family: 'Concert One', cursive;
    text-align: center;
    color: #008080;
    font-size: 20px;
}

.web-games-container {
    background-color: #C6FFFF;
    font-family: 'Concert One', cursive;
    text-align: center;
    color: #008080;
    font-size: 20px;
}

.temp-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.test-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {

    .test-row {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media only screen and (max-width: 281px) {
    .my-name {
        font-size: 32px; 
    }
}